.Header {
    background: #222;
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.Header-Banner {
    width: 50%;
    display: flex;
    align-self: center;
    background: #222;
}

.Header-Title {
    background: #222;
    color: #eee;
    padding: 0 0 10px;
}