
.Navigation {
    width: 100%;
    font-size: 18pt;
}

.Navigation-List {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    background: #333;
}


.Navigation-Link:link,
.Navigation-Link:visited
{
    color: white;
    background: #333;
    text-decoration: none;
    transition: .3s;
}

.Navigation-Link:hover,
.Navigation-Link:active,
.Navigation-Link:focus
{
    color: #099;
}