
.Teams {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.Teams-List {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    list-style: none;
    padding: 2px;
    border: 1px solid #333;
    margin: 5px
}

.Teams-ListItem {
    color: white;
    background-color: #222;
    font-size: 18pt;
    padding: 12px;
    margin: 3px;
    height: 51.6px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.Teams-TeamName {
    flex: 550px 2 2;
}

.Teams-TeamScore {
    flex: 50px 0 1;
}



