.TreeNode {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.TreeNode-VerticalLine {
    stroke: #222;
    stroke-width: 20;
}

.TreeNode-HorizontalLine {
    stroke: #222;
    stroke-width: 40;
}

.TreeNode-SubTrees {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}